.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px

}

.card {
  max-width: 200px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0, 2px, 4px, rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.card-content {
  padding: 30px;
  text-align: center;
}

.card-content h5{
  padding-bottom: 15px;
}

.card-content h6{
  padding-bottom: 15px;
}

.cart-button {
  color: black;
  background-color: #febd2f;
  height: 30px;
  width: 130px;
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
}

.cart-button:hover{
  box-shadow: 0 5px 15px rgba(176, 182, 92, 0.4);
}
.cart-button:active{
  box-shadow: 0 5px 15px rgba(169, 182, 92, 0.4);
}
.added {
  display: flex;
}










